 body, html {
     height: 100%;
     margin: 0;
     overflow: hidden;
}
 .myButton {
     box-shadow: 0px 1px 0px 0px #1c1b18;
     background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
     background-color:#eae0c2;
     border-radius:15px;
     border:2px solid #333029;
     display:inline-block;
     cursor:pointer;
     color:#505739;
     font-family:Verdana;
     font-size:21px;
     font-weight:bold;
     padding:26px 28px;
     text-decoration:none;
     text-shadow:0px 1px 0px #ffffff;
}
 .myButton:hover {
     background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
     background-color:#ccc2a6;
}
 .myButton:active {
     position:relative;
     top:1px;
}
 .bg {
     background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.dribbble.com%2Fusers%2F315053%2Fscreenshots%2F3403146%2Fspace-travel-800x600loop.gif&f=1&nofb=1");
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
 #a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #929292;
    padding: 10px;
 }
 #b {
     position: fixed;
     background-color:rgba(192,192,192,0.3);
     width: 100%;
     height: 25%;
     z-index: 100;
}
#metal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #696969; 
}
